/*
 * ─── BASE ───────────────────────────────────────────────────────────────────────
 */

:root {
  --zui-background: white;
}

pre {
  padding: 0.9375rem 1.25rem;
  overflow-x: auto;
}

img {
  max-width: 100%;
}

hr {
  border: 0;
  border-top: 1px solid var(--zui-gray-100);
  margin: 50px 0;
}

p:empty {
  display: none;
}

/*
 * ─── ZUI TEMPLATE ───────────────────────────────────────────────────────────────────────
 */

.page-heading h1.hero {
  color: var(--zui-green);
}

.page-heading {
  margin-bottom: 1.875rem;
}

zui-tabs {
  --zui-tabs-color: var(--zui-blue);
  border-bottom: 2px solid var(--zui-gray-100);
  margin-bottom: 1.875rem;
}

zui-tab {
  flex: none;
}

.content-container a {
  color: var(--zui-blue);
  outline: 0;
}

.content-container a:hover {
  color: var(--zui-blue-400);
}

.content-container a:focus {
  box-shadow: 0 0 0 1px var(--zui-blue-400);
}

.content-container a:active {
  color: var(--zui-blue-600);
  box-shadow: none;
}

.content-container a:visited {
  color: var(--zui-purple);
}

table {
  width: 100%;
  background-color:var(--zui-gray-50);
  border: 1px solid var(--zui-gray-200);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
}
table td {
  border: 1px solid var(--zui-gray-200);
  background-color: white;
  text-align: left;
  padding: 12px 15px;
  word-break: break-word;
}
table th {
  font-weight: 600;
  text-align: left;
  padding: 15px;
}
table th.pointer {
  cursor: pointer;
  padding-left: 10px;
}