ie-sucks:not(:defined) {
    display: none;
}

ie-sucks:defined {
    display: none;
}

ie-sucks {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    overflow: hidden;
    background-color: hotpink;
    color: white;
}
